<div class="contaienr mt-2 py-3">
  <h1 class="text-uppercase text-center">conatct section</h1>
  <div class="w-100 text-center">
    <div class="line my-1"></div>
    <i class="fa-solid fa-star px-3"></i>
    <div class="line my-1"></div>
  </div>
  <div class="input-container w-50 mx-auto py-5">
    <input type="text" placeholder="userName" class="form-control p-4 my-4" />
    <input type="text" placeholder="userAge" class="form-control p-4 my-4" />
    <input type="text" placeholder="userEmail" class="form-control p-4 my-4" />
    <input type="text" placeholder="userPassword" class="form-control p-4 my-4" />
    <button class="btn btn-primary my-3">send Message</button>
  </div>

</div>
