<div class="container-fluid">
  <div class="row p-5 text-white">
    <div class="col-md-4 text-center my-5">
      <h2 class="text-uppercase">location</h2>
      <p>2215 John Daniel Drive</p>
      <p>Clark, MO 65243</p>
    </div>
    <div class="col-md-4 text-center my-5">
      <h2 class="text-uppercase">AROUND THE WEB</h2>
      <div class="icons">
        <i
          class="rounded-circle fa-brands fa-facebook"

        ></i>
        <i
          class="rounded-circle fa-brands fa-twitter ms-2"

        ></i>
        <i
          class="rounded-circle fa-brands fa-linkedin-in ms-2"

        ></i>
        <i
          class="rounded-circle fa-solid fa-globe ms-2"

        ></i>
      </div>
    </div>
    <div class="col-md-4 text-center my-5">
      <h2 class="text-uppercase">ABOUT FREELANCER</h2>
      <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </div>
  </div>
</div>
